@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

/* store fonts  */
:root {
  --font-heading: "Exo 2", sans-serif;
  --font-body: "Montserrat", sans-serif;
}

@layer base {
  /* 1. Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  * {
    scroll-behavior: smooth;
    scroll-margin-top: 6rem;
  }

  /* 2. specail font-family */
  h1,
  h2,
  h3,
  button {
    font-family: var(--font-heading);
  }

  /* 3. HTML & Body Resets */
  html,
  body {
    scroll-behavior: smooth;
    font-family: var(--font-body);
  }
}
