Lulkadura Tea Estate is known as the first tea estate in Sri Lanka and is a unique tourist destination located in the town of Rikillagaskada in the Central Province.

From Kandy District (32.4 km) Pass through Hidagala, Mahakanda, Galaha and Deltota to reach the entrance of Lulkadura Tea Estate. (If you are traveling by bus, you can take the Deltota bus to Deltota and take the Hewaheta bus to reach the Lulkadura entrance) About 4km walk from there you can see the house of James Taylor, who contributed to the first tea production in Sri Lanka, the well he used, the chair etc.

Also, the Kondagala climb is a special place here. This is located behind the house of James Taylor and is about 300m high. Climate change is a specialty of Kondagala. That is, it can experience extreme heat on hot days and extreme cold during rainy seasons.It is our responsibility and duty to protect the Lulkadura Estate and the Kondagala area, another beautiful place in Sri Lanka of ancient value.

Route:There are several routes here.Kandy - Galaha - Deltota via Gampola - Galaha ,Through Hanguranketha Can come.

Hiking
Camping
Nature Exploring
Photography
Sightseeing
Trekking
Weather